.event-form{
    label{
        background-color: #f1f1f1;
        padding: 10px 18px 0px 15px;
        border-radius: 5px;
        border: 1px solid lightgrey;
    }
    input{
        margin-top: 8px;
    }
}